<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Sapling Gallery
      </div>
      <div class="nav-icon">
        <img style=" width: 5em;line-height: 1em;" src="../assets/img/sapling icon.png">
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a href="#/home">Home</a>
      <a (click)="tryOnGardenNav();">Design Garden</a>
      <a href="#/about">About</a>
      <a href="#">Contact</a>
    </div>
  </div>

    <router-outlet></router-outlet>

</body>

</html>