<html>
<header>
  <nav>
    <h2>PlantSapling</h2>
    <ul class="menu">
      <li><a href="#/home">Home</a></li>
      <li> <a href="#/garden-proto">Design Garden</a>
      <li><a href="#/about">About</a></li>
      <li><a href="#">Contact</a>
        <ul class="menu-sub">
          <li><a href="#">Phone</a>
            <!-- <ul class="sub">
                            <li><a href="#">Mobile Phone</a></li>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Office</a></li>
                        </ul> -->
          </li>
          <li><a href="#">Email</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<body>
  <router-outlet></router-outlet>
</body>

</html>