img{
    border-style: none;
    margin-top: 3%;
    cursor: pointer;
    height: 30%;
    max-height: 30%;
    width: 90%;
}


  .right-arrow{
    position:absolute;
    top:40%;
    left:72%;
    z-index: 200;
    
  }
  .left-arrow{
    position:absolute;
    top:40%;
    left:17%;
    z-index: 200;
  }
  .material-icons-two-tone{
    font-size: 12em;
    color: #fff;
    cursor: pointer;
  }
  .carousel-container
  {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 40%;
    max-height: 50%;
  }
